{% extends 'base.html' %}

{% block title %}Password Strength{% endblock %}

{% block content %}
    <div class="container">
        <h1>Password Strength</h1>
        <div class="password-info">
            <p class="password-label">Password:</p>
            <p class="password-value">{{ password }}</p>
        </div>
        <div class="strength-info">
            <p class="strength-label">Strength:</p>
            <p class="strength-value" style="font-size: 24px; text-transform: uppercase; color: red;">{{ strength }}</p>
        </div>
        <div class="checklist">
            <p class="checklist-heading">Password Checklist:</p>
            <ul>
                <li class="checklist-item {{ 'success' if has_special_characters else 'failure' }}">Includes special characters</li>
                <li class="checklist-item {{ 'success' if has_numbers else 'failure' }}">Includes numbers</li>
                <li class="checklist-item {{ 'success' if is_valid else 'failure' }}">At least 8 characters long</li>
            </ul>
        </div>

    </div>
{% endblock %}
